
:host {
  display: block;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
