div {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  clear: both;
}

header {
  color: inherit;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

div.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

div.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

div.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

div.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 14px;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

button:hover {
  opacity: .75;
  color: #000;
  text-decoration: none;
}
